body {
    font-family: Arial, sans-serif;
    /* margin: 10px; */
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

.logo {
    background-color: #333;
}
.img1 img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.gift-bar {
    background-color: #168787;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    margin: 10px 0px;
    gap: 10px;
}

.gift-title {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

select, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;

}



.tit {
    font-style: italic;
    letter-spacing: 5px;
}

.hero {
    background: url('../images/5f.webp') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 2.5em;
}

.btn {
    background: #eb0377;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

#shop {
    padding: 20px 20px;
    background: white;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.box img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #333;
    color: white;
    padding: 15px 0;
    margin-top: 10px;
}
.find {
    color: #f8f8f8;
    background-color: rgba(74, 74, 70, 0.947);
}
.menu ul{
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #168787;
    align-items: center;
    text-align: center;
    width: 10px 10px;
    height: 50px;
    padding: 20px;
    

}
.menu ul li{
    background: rgb(155, 148, 148);
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 150px;
    text-align: center;
    color: white;
    gap: 10px;
}
.nav {
    
    /* display: flex; */
    justify-content: start;
    align-items: start;
    max-width: auto;
    margin: 10px 0px;
    gap: 10px;
}

.dev { 
    justify-self: start;
    display: flex;
    background-color: #333;

    color: rgb(194, 174, 174);
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.dev a {
    text-decoration: none;
    color: #f8f8f8;
}